[Desktop Entry]
Name=Battery Monitor GUI
Type=Application
Exec=/usr/bin/python3 /usr/share/battery-monitor/battery-monitor-gui.py
Terminal=false
Icon=/usr/share/battery-monitor/icons/icon.png
Comment=A utility tool, notifies user about charging, discharging and not charging state of the battery on Linux.
NoDisplay=false
Categories=Utility;