[Desktop Entry]
Name=Battery Monitor
Comment=A utility tool to monitor battery frequently.
Exec=/usr/share/battery-monitor/battery-monitor.py
Icon=/usr/share/battery-monitor/icons.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Application;
