Package: battery-monitor
Version: 0.1
Architecture: all
Maintainer: Maksudur Rahman Maateen, <maateen@outlook.com>
Installed-Size: 68
Depends: python3, python3-gi, libnotify-dev, acpi
Section: extras
Priority: optional
Homepage: http://maateen.github.io/battery-monitor/
Description: It's a Python3 script which will notify user about charging, discharging and not charging state of the battery on Linux. It's using PyGtk3 for notification.
